.idea
composer.lock
*.log
runtime/
webcrawl/.idea/
webcrawl/webcrawl/__pycache__/
webcrawl/webcrawl/spider/__pycache__/
webcrawl/daemon/__pycache__/
webcrawl/webcrawl/settings.py
webcrawl/logs/
application/config.php
application/database.php
