{layout name="layout"}
<header class="bar bar-nav">
    <h1 class="title">注册币控网</h1>
</header>

<div class="content">
    <div class="list-block">
        <form action="/user/reg/" method="post" accept-charset="utf-8" name="form" class="form-horizontal" id="form2">
        <ul>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-name"></i></div>
                <div class="item-inner">
                  <div class="item-input">
                    <input type="text" placeholder="用户名" name="name" id="name">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-password"></i></div>
                <div class="item-inner">
                  <div class="item-input">
                    <input type="password" placeholder="密码" class="" name="pwd" id="pwd">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-password"></i></div>
                <div class="item-inner">
                  <div class="item-input">
                    <input type="password" placeholder="重复密码" class="" name="pwd_confirm" id="pwd_confirm">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-tel"></i></div>
                <div class="item-inner">
                  <div class="item-input">
                    <input type="text" placeholder="手机号" name="tel" id="tel">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-tel"></i></div>
                <div class="item-inner">
                    <div class="row" style="margin-left:0;width:100%;">
                        <div class="col-50" style="margin-left:0">
                            <div class="item-input">
                            <input type="text" placeholder="验证码" name="valicode" id="valicode"></div>
                       </div>
                        <div class="col-33"><button type="button" class="button button-light" id="btn_code" onclick="sendcode()">发验证短信</button></div>
                     </div>
                 </div>
              </div>
            </li>
        </ul>

        <div class="content-block">
            <div class="row">
            <div class="col-33">&nbsp;</div>
            <div class="col-33">
                <button name="register" id="register2" type="button" class="button button-big button-fill button-success" onclick="checkvalid()">免 费 注 册</button><br />
                <a href="/user/login/">登录</a>
                &nbsp;&nbsp;<a href="/user/findpwd/">找回密码</a>
            </div>
            </div>
        </div>
        </form>
    </div>
</div>

<script type="text/javascript">
        function sendcode()
        {
            var tel=$('#tel').val();
            window.setTimeout("countdown("+60+")",1000);
            $.get('/base/valicode', {tel:tel}, function(data,status){
                $('#tel').attr('placeholder','验证码已发送');
            });
        }

        function countdown(ts)
        {
            $('#btn_code').html(ts+'秒重发...');
            if(ts==60)
            {
                $('#btn_code').attr('disabled', true);
            }
            if(ts>0)
            {
                window.setTimeout("countdown("+(ts-1)+")",1000);
            }
            else
            {
                $('#btn_code').html('发验证短信');
                $('#btn_code').attr('disabled', false);
            }
        }
        function checkvalid()
        {
            var name = $('#name').val();
            var pwd = $('#pwd').val();
            var pwd_confirm = $('#pwd_confirm').val();
            var tel = $('#tel').val();
            var valicode = $('#valicode').val();
            $.get('/user/checkValid', {name:name,pwd:pwd,pwd_confirm:pwd_confirm,tel:tel,valicode:valicode,scene:'add'},function(data,status){
                
            });
        }
    </script>